@import "variables.scss";

// MODAL POPUP
.modal-backdrop
{
    opacity:1 !important;
    background-color: $darkBlue;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

// MODAL CLOSE BUTTON
.btn__noMargin {
    margin: 0;
}

.modal-dialog {
    max-width: 1400px;
    width: 60% !important;
    height: 80% !important;
}

.modal-content {
    height: 100%;
    width: 100%;
    background-color: $blue;
    border: 1px solid $white;
}